<nav class="navbar">
  <div class="logo">
    <img src="assets/payhub-r.png" alt="Logo PayHub">
  </div>
  
  <!-- Menú hamburguesa para dispositivos móviles -->
  <div class="menu-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <!-- Enlaces de navegación -->
  <ul class="nav-links" [class.active]="isMenuOpen">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
    <li><a routerLink="/conocenos" routerLinkActive="active">Conócenos</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contáctanos</a></li>
    <li><a routerLink="/precios" routerLinkActive="active">Precios</a></li>
  </ul>
  
  <!-- Botones de login y registro -->
  <div id="login-getstarted" [class.active]="isMenuOpen">
    <ul>
      <li id="login"><a routerLink="/login">Login</a></li>
      <li id="getstarted"><a routerLink="/getstarted">Obtener</a></li>
    </ul>
  </div>
</nav>
