@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Otros estilos globales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita desbordamientos horizontales */
    background-color: #ffffff; /* Asegura que el fondo sea blanco */
  }








  